/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3 {
  text-align: center;
  margin-bottom: 10px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2c3e50;
}

header .logo {
  font-size: 1.5em;
  color: white;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

header nav ul li a {
  color: white;
  font-weight: bold;
}
header .btn {
  background-color: #e74c3c;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

/* Hero Section */
.hero {
  background: url("https://www.shutterstock.com/image-illustration/online-shopping-concept-promotional-discounts-260nw-2306030669.jpg")
    no-repeat center center/cover;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  color: white;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
}

.hero h1 {
  font-size: 3.5em;
}

.hero p {
  font-size: 1.3em;
}

.hero .btn {
  background-color: #e74c3c;
  padding: 12px 25px;
  border-radius: 5px;
  margin-top: 20px;
}

/* Menu Section */
.menu {
  padding: 60px 20px;
  background-color: #f8f8f8;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.menu-item {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.menu-item img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* About Section */
.about {
  padding: 40px 20px;
  background-color: #ffffff;
  text-align: center;
}

.about p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2em;
}

/* Footer */
footer {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}

footer p:last-child {
  margin-bottom: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  .menu-items {
    flex-direction: column;
    align-items: center;
  }

  .hero h1 {
    font-size: 2.5em;
  }

  .hero p {
    font-size: 1em;
  }

  .hero .btn {
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  header nav ul {
    flex-direction: column;
  }

  .hero h1 {
    font-size: 2em;
  }

  .hero p {
    font-size: 0.9em;
  }
}
